0 2 * * * /etc/scripts/system/securityaudit.sh
0 2 * * * /etc/scripts/network/networkscan.sh
0 2 * * * /etc/scripts/users/usercheck.sh
30 8 * * * /etc/scripts/system/securityaudit.py
30 8 * * * /etc/scripts/network/networkscan.py
30 8 * * * /etc/scripts/users/usercheck.py
